body {
color: rgba(107, 131, 121, 0.027);
background: rgb(8, 1, 5);
margin: 0px;

font-family: "Dancing Script", cursive;
}

header {
border-bottom: solid 2px rgba(238, 13, 118, 0.002);
padding: 20px;
font-size: 33px;
color: rgba(197, 47, 122, 0.945);
}

section {
    background: rgba(219, 39, 147, 0.525);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img {
  height: 200px;
}
