body {
color: rgba(238, 39, 152, 0.969);
background: rgb(8, 1, 5);
margin: 0px;

font-family: "Dancing Script", cursive;
}

header {
border-bottom: solid 2px rgba(238, 13, 118, 0.002);
padding: 20px;
font-size: 33px;
color: rgba(205, 71, 138, 0.023);
}

.chamada{
    background: rgba(219, 39, 147, 0.525);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img {
  height: 200px;
}
.categoria-videos { 
  display: flex; 
  overflow-x: auto;
  gap: 10px;
}   
.categoria{
  padding-left: 20px;
  padding-right: 20px; margin-top: 50px;
}
.categoria-videos img {  
  opacity: 0.5; 
  height: 200px;
}
.categoria-videos img:hover { 
   opacity: 1.0;
   border: 3px solid rgb(235, 50, 124);
}
.categoria h2 { 
    color: #9ef1ca;
}